<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DailyMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <update id="dailySave" parameterType="pd">
        update s_b_breed_detail
        set
            male_death_pm       = ${death_num_male}
            , female_death_pm     = ${death_num_female}
            , male_culling_pm     = ${culling_num_male}
            , female_culling_pm   = ${culling_num_female}
            , male_cur_weight     = ${body_weight_male}
            , female_cur_weight   = ${body_weight_female}
            , male_mistake        = ${gender_error_male}
            , female_mistake      = ${gender_error_female}
            , feed_name           = ${feed_code_female}
            , female_cur_feed     = ${feed_weight_female}
            , female_cur_water    = ${water_capacity_female}
            , laying_cur_amount   = ${layer_amount}
            , female_cur_evenness = ${uniformity}

        where age = ${DayAge} and house_code = ${HouseId} and batch_id = #{BreedBatchId}
    </update>

    <select id="selectDailyByHouse" parameterType="pd" useCache="false">
        select batch_id
              , house_code
              , growth_date
              , age
              , growth_week_age
              , laying_week_age
              , male_death_pm
              , female_death_pm
              , male_culling_pm
              , female_culling_pm
              , male_cur_weight
              , female_cur_weight
              , male_mistake
              , female_mistake
              , feed_name
              , female_cur_feed
              , female_cur_water
              , laying_cur_amount
              , female_cur_evenness
          from s_b_breed_detail
          where batch_id = #{BreedBatchId}
              and house_code = ${houseId}
              and growth_date = #{SpecialDate}
    </select>

    <select id="selectDate" parameterType="pd" resultType="pd">
        SELECT
              DATE_FORMAT(min(ac.operation_date), "%Y-%m-%d") AS lairage,
              DATE_FORMAT(max(bd.growth_date), "%Y-%m-%d") AS marketed_date
        FROM s_b_breed_detail bd
          LEFT JOIN s_b_batch_change ac
            ON ac.batch_id = bd.batch_id and ac.house_code = bd.house_code
        WHERE bd.batch_id = #{BreedBatchId} and bd.house_code = ${HouseId}
    </select>

    <select id="selectBySpecialDate" parameterType="pd" resultType="pd">
        SELECT
          sbbc.operation_date AS lairage,
          CASE sb.status
              WHEN 0
                THEN sb.operation_date
              WHEN 1
                THEN sb.market_date
              ELSE NULL END       AS marketed_date,
          sbbd.*
        FROM s_b_breed_detail sbbd
          LEFT JOIN (SELECT
               min(ac.operation_date) AS operation_date,
               ac.batch_id
             FROM s_b_batch_change ac
             WHERE ac.house_code = ${HouseId} AND ac.batch_id = #{BreedBatchId}) sbbc
          ON sbbc.batch_id = sbbd.batch_id
          LEFT JOIN (SELECT *
             FROM s_b_batch_curr bc
             WHERE bc.house_code = ${HouseId} AND bc.batch_id = #{BreedBatchId}) sb
          ON sb.batch_id = sbbd.batch_id
        WHERE sbbd.house_code = ${HouseId} AND sbbd.batch_id = #{BreedBatchId} AND
             sbbd.growth_date = #{SpecialDate};
    </select>
</mapper>