<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SBGrowingStdMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="selectByVarietyId" parameterType="pd" resultType="pd">
        select
            gs.variety_id,
            gs.variety,
            gs.grow_week_age,
            gs.female_week_avg_weed_out,
            gs.female_week_total_weed_out,
            gs.female_life,
            gs.male_weight,
            gs.female_weight,
            gs.avg_feed_daliy,
            gs.total_feed,
            gs.evenness,
            gs.female_max_std_weight,
            gs.female_min_std_weight,
            les.variety_id,
            les.variety,
            les.grow_week_age,
            les.lay_egg_week_age,
            les.female_week_avg_weed_out,
            les.female_week_total_weed_out,
            les.female_life,
            les.male_weight,
            les.female_weight,
            les.cl_laying_rate,
            les.rs_laying_rate,
            les.rs_female_laying_avg_count,
            les.rs_female_laying_total_count,
            les.qualified_egg_rate,
            les.rs_female_avg_qualified_count,
            les.rs_female_total_qualified_count,
            les.chick_hatching_rate,
            les.breeding_chick_hatching,
            les.breeding_chick_avg_count,
            les.breeding_chick_total_count,
            les.create_person
        from s_b_growing_std gs
        LEFT join s_b_lay_egg_std les on gs.variety_id = les.variety_id
        where 1=1
        <if test="variety_id != null">
          and gs.variety_id = #{variety_id}
        </if>
        <if test="variety_id == null">
          and gs.variety_id = 1
        </if>
    </select>
</mapper>