<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SDGoodsMapper" >
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
  <select id="getGoodsList" resultType="pd" useCache="false">  
	   SELECT  good_id,
		       good_code, 
		       good_name, 
		       good_type, 
		       bak, 
		       create_person, 
		       create_date, 
		       create_time, 
		       modify_person, 
		       modify_date, 
		       modify_time 
		FROM   s_d_goods
		where 1=1
		<if test="good_id != null"> 
			and good_id = #{good_id}
		</if>
		<if test="good_code != null"> 
			and good_code = #{good_code}
		</if>
		<if test="good_name != null"> 
			and good_name = #{good_name}
		</if>
		<if test="good_type != null"> 
			and good_type = #{good_type}
		</if>
		order by good_id
    </select> 
    
    
    <!-- 查询库存信息 -->
    <select id="getStock" resultType="pd" useCache="false">  
	   SELECT id, 
              stock_batch_no, 
              good_id, 
              good_code, 
              good_name, 
              good_type, 
              spec, 
              unit, 
              count,
			  date_format(exp, '%Y-%m-%d') exp,
			  date_format(operation_date, '%Y-%m-%d') operation_date,
              corporation_id, 
              factory_id, 
              bak, 
              create_person, 
              create_date, 
              create_time, 
              modify_person, 
              modify_date, 
              modify_time 
	    FROM   s_d_stock
	    where 1=1
		<if test="flag != null and flag != ''">
			and count > 0
		</if>
		<if test="good_type != null"> 
			and good_type = #{good_type}
		</if>
		<if test="good_id != null"> 
			and good_id = #{good_id}
		</if>
		<if test="spec != null"> 
			and spec = #{spec}
		</if>
		<if test="unit != null"> 
			and unit = #{unit}
		</if>
		<if test="corporation_id != null"> 
			and corporation_id = #{corporation_id}
		</if>
		<if test="factory_id != null"> 
			and factory_id = #{factory_id}
		</if>
		order by id 
    </select> 
    <!-- 查询总库存 -->
    <select id="getSumCount" resultType="decimal"  useCache="false" > 
    	select sum(count) from s_d_stock
    	where 1=1
    	<if test="good_type != null"> 
			and good_type = #{good_type}
		</if>
		<if test="good_id != null"> 
			and good_id = #{good_id}
		</if>
    </select>
    
    <!-- 修改库存 -->
	<update id="editStock" parameterType="pd" flushCache="false">
		update  s_d_stock
			set modify_person	= #{modify_person},
				modify_date 	= #{modify_date},
				modify_time 	= #{modify_time},
				count	= #{count}
			<if test="operation_date != null and operation_date != ''">
				,operation_date	= #{operation_date}
			</if>
			where 
				id = #{id}
	</update>
    
    
    
    <!-- 查询供应商 -->
    <select id="getCorporation" resultType="pd" useCache="false">  
		SELECT  c.corporation_id, 
		        c.corporation, 
		        c.corporation_person, 
		        c.corporation_address, 
		        c.telphone, 
		        c.bak, 
		        c.create_person, 
		        c.create_date, 
		        c.create_time, 
		        c.modify_person, 
		        c.modify_date, 
		        c.modify_time 
		FROM  s_d_corporation c
		left join s_b_corporation_good  cg on cg.corporation_id=c.corporation_id
		where 1=1
		<if test="corporation_id != null and corporation_id != ''">
			and c.corporation_id = #{corporation_id}
		</if>
		<if test="good_id != null and good_id != ''">
			and cg.good_id = #{good_id}
		</if>
		<if test="good_type != null and good_type != ''">
			and cg.good_type = #{good_type}
		</if>
		order by c.corporation_id
    </select> 
    
     <!-- 查询厂家 -->
    <select id="getFactory" resultType="pd" useCache="false">  
		SELECT  f.factory_id, 
			    f.factory_name, 
				f.factory_person, 
				f.factory_address, 
				f.telphone, 
				f.bak, 
				f.create_person, 
				f.create_date, 
				f.create_time, 
				f.modify_person, 
				f.modify_date, 
				f.modify_time 
		FROM s_d_factory f
	    left join s_b_corporation_good  c on c.factory_id=f.factory_id
		where 1=1
		<if test="factory_id != null and factory_id != ''">
			and f.factory_id = #{factory_id}
		</if>
		<if test="good_id != null and good_id != ''">
			and c.good_id = #{good_id}
		</if>
		<if test="good_type != null and good_type != ''">
			and c.good_type = #{good_type}
		</if>
		order by f.factory_id
    </select> 
    
    <!-- 保存库存 -->
    <insert id="saveStock" parameterType="pd"  flushCache="false" keyProperty="id">
		insert into s_d_stock (farm_id,farm_name,
			stock_batch_no,
			good_id,
			good_code,
			good_name,
			good_type,
			spec,
			unit,
			count,
			exp,
			operation_date,
			bak,
			corporation_id,
			factory_id,
			create_person,
			create_date,
			create_time,
			modify_person,
			modify_date,
			modify_time
		) values (#{inStockFarmId},#{inStockFarm},
			#{stock_batch_no},
			#{good_id},
			#{good_code},
			#{good_name},
			#{good_type},
			#{spec},
			#{unit},
			#{count},
			#{exp},
			#{operation_date},
			#{bak},
			#{corporation_id},
			#{factory_id},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time}
		)
	</insert>
	
	 <!-- 保存库存变动 -->
    <insert id="saveStockcChange" parameterType="pd"  flushCache="false" useGeneratedKeys="true" keyProperty="id">
		insert into s_d_stock_change (
			stock_id,
			good_id,
			good_code,
			good_name,
			good_type,
			spec,
			unit,
			count,
			price,
			exp,
			operation_date,
			operation_kind,
			farm_id,
			farm_name,
			house_id,
			house_name,
			stock_batch_no,
			approve_status,
			corporation_id,
			factory_id,
			create_person,
			create_date,
			create_time,
			modify_person,
			modify_date,
			modify_time
		) values (
			#{stock_id},
			#{good_id},
			#{good_code},
			#{good_name},
			#{good_type},
			#{spec},
			#{unit},
			#{count},
			#{price},
			#{exp},
			#{operation_date},
			#{operation_kind},
			#{farm_id},
			#{farm_name},
			#{house_id},
			#{house_name},
			#{stock_batch_no},
			#{approve_status},
			#{corporation_id},
			#{factory_id},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time}
		)
	</insert>
  
  <select id="getStockChange" resultType="pd" useCache="false">  
	   SELECT   c.id, 
		        c.stock_id, 
		        c.good_id, 
		        c.good_code, 
		        c.good_name, 
		        c3.code_name type_name,
		        c.good_type, 
		        c.spec,
		        c1.code_name spec_name,
		        c.unit, 
		        c2.code_name unit_name,
	  			(CASE WHEN c.count > 0 THEN c.count ELSE c.count*(-1) END) count,
		        c.price,
	  			date_format(c.exp, '%Y-%m-%d') exp,
	  			date_format(c.operation_date, '%Y-%m-%d') operation_date,
		        c.operation_kind, 
		        c.farm_id, 
		        c.farm_name, 
		        c.house_id, 
		        c.house_name, 
		        c.stock_batch_no, 
		        c.corporation_id,
		        a.corporation,
		        c.factory_id,
		        b.factory_name,
		        c.approve_status, 
		        c.create_person, 
		        c.create_date, 
				c.create_time, 
		        c.modify_person, 
		        c.modify_date, 
		        c.modify_time 
		FROM s_d_stock_change c
		left join s_d_corporation a
		on a.corporation_id = c.corporation_id
		left join s_d_factory b
		on c.factory_id = b.factory_id
		LEFT JOIN s_d_code c1 on c1.biz_code=c.spec and c1.code_type='spec'
		LEFT JOIN s_d_code c2 on c2.biz_code=c.unit and c2.code_type='unit'
		LEFT JOIN s_d_code c3 on c3.biz_code=c.good_type and c3.code_type='good_type'
		where 1=1
		<if test="operation_kind != null and operation_kind != ''">
			and c.operation_kind = #{operation_kind}
		</if>
		<if test="good_type != null and good_type != ''">
			and c.good_type = #{good_type}
		</if>
		<if test="good_id != null and good_id != ''">
			and c.good_id = #{good_id}
		</if>
		<if test="spec != null and spec != ''">
			and c.spec = #{spec}
		</if>
		<if test="unit != null and unit != ''">
			and c.unit = #{unit}
		</if>
		<if test="corporation_id != null and corporation_id != ''">
			and c.corporation_id = #{corporation_id}
		</if>
		<if test="factory_id != null and factory_id != ''">
			and c.factory_id = #{factory_id}
		</if>
		<if test="approve_status != null and approve_status != ''">
			and c.approve_status = #{approve_status}
		</if>
		order by c.id desc
    </select>   
    
    
  <select id="getStockSum" resultType="pd" useCache="false">
	   SELECT  s.good_id,
		       s.good_code,
		       s.good_name,
		       s.good_type,
		       c3.code_name type_name,  
		       s.spec,
		       c1.code_name spec_name,  
		       s.unit,
		       c2.code_name unit_name,
		       s.corporation_id,
		       a.corporation, 
		       s.factory_id,
		       b.factory_name, 
		       sum(s.count) stockCount
		FROM s_d_stock s
		left join s_d_corporation a   on a.corporation_id = s.corporation_id   
		left join s_d_factory b   on s.factory_id = b.factory_id  
		LEFT JOIN s_d_code c1 on c1.biz_code=s.spec and c1.code_type='spec'   
		LEFT JOIN s_d_code c2 on c2.biz_code=s.unit and c2.code_type='unit' 
		LEFT JOIN s_d_code c3 on c3.biz_code=s.good_type and c3.code_type='good_type' 
		where 1=1
		<if test="good_type != null and good_type != ''">
			and s.good_type = #{good_type}
		</if>
		<if test="good_id != null and good_id != ''">
			and s.good_id = #{good_id}
		</if>
		<if test="spec != null and spec != ''">
			and s.spec = #{spec}
		</if>
		<if test="unit != null and unit != ''">
			and s.unit = #{unit}
		</if>
		<if test="corporation_id != null and corporation_id != ''">
			and s.corporation_id = #{corporation_id}
		</if>
		<if test="factory_id != null and factory_id != ''">
			and s.factory_id = #{factory_id}
		</if>
	    group by   s.good_id,
			       s.good_code,
			       s.good_type,
			       s.spec,
			       s.unit,
			       s.corporation_id,
			       s.factory_id
    </select>



	<select id="getStockApproval" resultType="pd" useCache="false">
		SELECT
			  sc.id
			  ,sc.stock_id
			  ,sc.good_id
			  ,sc.good_code
			  ,sc.good_name
			  ,sc.good_type
			  ,c3.code_name type_name
			  ,sc.spec
			  ,c1.code_name spec_name
			  ,sc.unit
			  ,c2.code_name unit_name
			  ,sc.count
			  ,sc.price
			  ,date_format(sc.exp, '%Y-%m-%d') exp
			  ,date_format(sc.operation_date, '%Y-%m-%d') operation_date
			  ,sc.operation_kind
			  ,sc.corporation_id
			  ,a.corporation
			  ,sc.factory_id
		      ,b.factory_name
			  ,sc.farm_id
			  ,sc.farm_name
			  ,sc.stock_batch_no
			  ,sc.approve_status
			  ,sc.bak
			  ,u.user_real_name create_person
		FROM s_d_stock_change sc
		LEFT JOIN s_d_corporation a   ON a.corporation_id = sc.corporation_id
		LEFT JOIN s_d_factory b   ON sc.factory_id = b.factory_id
		LEFT JOIN s_d_code c1 ON c1.biz_code=sc.spec AND c1.code_type='spec'
		LEFT JOIN s_d_code c2 ON c2.biz_code=sc.unit AND c2.code_type='unit'
		LEFT JOIN s_d_code c3 ON c3.biz_code=sc.good_type AND c3.code_type='good_type'
		LEFT JOIN s_d_user u ON u.id = sc.create_person
		WHERE sc.operation_kind = 3
        <if test="currFlag != null and currFlag != ''">
			AND sc.approve_status = 1
        </if>
		<if test="currFlag == null or currFlag == ''">
			AND sc.approve_status != 1
		</if>
		        AND sc.farm_id = #{farm_id}
	</select>

	<!-- 审批 -->
	<update id="approvalStockChange" parameterType="pd" flushCache="false">
		UPDATE s_d_stock_change SET approve_status= #{approve_status}
		WHERE operation_kind=3
			AND id = #{id}
	</update>

	<!-- 更新提醒数据 -->
	<select id="exec_SP_STOCK_REMIND" parameterType="pd" statementType="CALLABLE">
		{
			call SP_STOCK_REMIND (#{id,mode=IN,jdbcType=VARCHAR})
		}
	</select>
</mapper>